<%=render :partial => "flash", :locals => {:flash => flash} %>

<%=form_for :sandwich, :url => {:action => 'create'}, :html => {:class=>"span4 offset1"} do |f|%>

		<br />

		<%=text_field_tag "Name", "Enter your full name here..."%>

		<%=text_field_tag "Email", "Enter your email here..."%>

		<br />

		<ul class="nav nav-list">
			
			<li class="divider"></li>

			<li>
			<%=f.label :filling_type, "Meaty", :value => 'Meaty'%>
			<%=f.radio_button :filling_type, "Meaty", {:checked => true}  %>
			<%=image_tag "meaty_sandwich.jpg", :class=>:thumbnail, :width => 120, :height => 120%>
			</li>
	
			<li class="divider"></li>

			<li>
				<%=f.label :filling_type, "Vegetarian", :value => 'Vegetarian'%>
				<%=f.radio_button :filling_type, "Vegetarian" %>
				<%=image_tag "vegetarian_sandwich.jpg", :class=>:thumbnail, :width => 120, :height => 120%>
			</li>

			<li class="divider"></li>
		
			<li>		
				<%=f.label :filling_type, "Vegan :(", :value => 'Vegan :('%>
				<%=f.radio_button :filling_type, "Vegan :(" %>
				<%=image_tag "vegan_sandwich.jpg", :class=>:thumbnail, :width => 120, :height => 120%>
			</li>

			<li class="divider"></li>
		</ul>

		<br />
		
		<%= f.submit :class=>:btn, :value => "Sandwich Me!"%>

	<%end%>


	<!-- Javascript Email Validation -->
 <script>
// 	function echeck(str) {

// 		var at="@"
// 		var dot="."
// 		var lat=str.indexOf(at)
// 		var lstr=str.length
// 		var ldot=str.indexOf(dot)
// 		if (str.indexOf(at)==-1){
// 		   alert("Invalid E-mail ID")
// 		   return false
// 		}

// 		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
// 		   alert("Invalid E-mail ID")
// 		   return false
// 		}

// 		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
// 		    alert("Invalid E-mail ID")
// 		    return false
// 		}

// 		 if (str.indexOf(at,(lat+1))!=-1){
// 		    alert("Invalid E-mail ID")
// 		    return false
// 		 }

// 		 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
// 		    alert("Invalid E-mail ID")
// 		    return false
// 		 }

// 		 if (str.indexOf(dot,(lat+2))==-1){
// 		    alert("Invalid E-mail ID")
// 		    return false
// 		 }
		
// 		 if (str.indexOf(" ")!=-1){
// 		    alert("Invalid E-mail ID")
// 		    return false
// 		 }

//  		 return true					
// 	}
</script>